// Place all the styles related to the suggest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_label{
  font-size: medium;
}

.content{
  padding-top: 5px;
}
.content .span{
  padding-left: 20px;
}
.main_form{
  padding-top: 30px;
}

