h1 {
    text-align: center;
    margin-bottom: 50px;
}
#table{
    text-align: center;
    font-size: medium;
}
#red{
    color:red;
}
#green{
    color:green;
}
th{
    text-align: center;
}
#notification{
    text-align: center;
}
#lb_notification{
    margin-top: 100px;
    font-size: large;
}
.paging-button{
    text-align: center;
}
#hidden_label{
    display: none;
}
.time{
    min-width: 100px;
}
.div_search_result{
    margin-left: 50px;
    margin-right: 50px;
}