h1 {
    text-align: center;
    margin-bottom: 50px;
}
#table{
    text-align: center;
    font-size: medium;
    width: 70%;
}
#red{
    color:red;
}
#green{
    color:green;
}
th{
    text-align: center;
}
#notification{
    text-align: center;
}
#lb_notification{
    margin-top: 100px;
    font-size: large;
}
.paging-button{
    text-align: center;
}
#hidden_label{
    display: none;
}