<%= render 'layouts/header' %>


  <body>
    <div class="container">
      <div class="nav-container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome/index">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <% if session[:user] == nil %>
                <li id="horizon_nav_login"><a class="navbar-brand" href="/login/login_page">Login</a></li>
              <% else %>
                <li id="horizon_nav_logout"><a class="navbar-brand" href="/login/logout_page">Logout</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class='div-body row'>
        <div class="div-parent-navstack col-xs-3">
          <div class="div-nav-stack ">
            <ul class="nav nav-stacked">
              <li role="presentation"><a id = "vertical_nav_home" href="/welcome/index">Home</a></li>
              <li role="presentation"><a id = "vertical_nav_login" href="/login/login_page">Login</a></li>
              <li role="presentation"><a id = "vertical_nav_suggest_book" href="/suggest/suggest_page">Suggestion</a></li>
              <li role="presentation"><a id = "vertical_nav_suggest_list" href="/suggest_list/suggest_list_page">Suggested List</a></li>

              <% if session[:user]=='admin'%>
                    <li role="presentation"><a id = "vertical_nav_approve" href="/manage_book/approve_page">Approve</a></li>
                    <li role="presentation"><a id = "vertical_nav_manage"href='/manage_book/managebook_page'>Manage Book </a></li>
              <% end %>

            </ul>
          </div>
        </div>
      <div class="div-content col-xs-9">
        <div class="content">
          <%= yield %>
        </div>
      </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>

  </body>
