/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require awesomplete
 */
@import "bootstrap";

.div-content{
  background-color: #F2F2F2;
  //padding: 20px;
  margin-top: 10px;
}

.model-footer{
  margin-top: 10px;
  background-color: #e47b46;
  text-align: center;
}
.model-footer span{
  padding-right:  10px;
  color : white;
}

#text-navbar{
  color: white;
  font-family: PT Sans Caption;
  font-size: 14px;

}

.main-nav{
  background-color: #e47b46;
}
#text-navbar-logo{
  color:white;
  font-weight: 500;
  font-size: 20px;
  font-family: PT Sans Caption;
}

#btn_login_logout{
  margin-top: -8px;
}

.awesomplete ul{
  width: 245px;
}
.row{
  margin: 0;
}

#lb_username{
  color : white;
  margin-top: -9px;
  margin-right: -15px;
  font-size: 14px;
}
#lb_username:hover{
    color: black;
}


.lb_suggest_list{
  font-weight: lighter !important;
}
.lb_suggest_list:focus{
  background-color: #ab9e9e !important;
}
.lb_suggest:focus{
  background-color: #ab9e9e !important;

}
