/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  background-color: white;
  min-height: 500px;
}
.main-nav{
  background-color: #00BFFF;
}

.nav-stacked{
  min-height: 1024px;
  padding-top: 20px;
  font-size: 27px;
  color : #F2F2F2;
}
.nav-stacked li{
  font-size: medium;
}
.div-nav-stack{
  background-color: #F2F2F2 ;

}
.div-parent-navstack{
 padding-top: 10px;
}
.model-footer{
  background-color: gray;
}

.content{
  margin: 10px 0 0 -10px;
  font-size: 30px;
  background-color: #F2F2F2;
  min-height: 1024px;
  padding-top: 10px;
}

.model-footer{
  margin-top: 10px;
  background-color: #00BFFF;
  text-align: right;
}
.model-footer span{
  padding-right:  10px;
}

.nav-home a{
  color: #00BFFF;
  background-color: white;
  margin-left: 20px;
  margin-right: -10px;
}

.container{
  background-color: white;
}
.div-body{
  background-color: white;
}
.nav-container{
  background-color: #00BFFF;
}
.navbar-brand{
  color: white;
}