/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require awesomplete
 */
@import "bootstrap";

.div-content{
  background-color: #F2F2F2;
  //padding: 20px;
  margin-top: 10px;
  min-height: 300px;
}

.model-footer{
  margin-top: 10px;
  background-color: #8258FA;
  text-align: right;
}
.model-footer span{
  padding-right:  10px;
  color : white;
}

#text-navbar{
  color: white;
  font-family: PT Sans Caption;

}
.main-nav{
  background-color: #8258FA;
}
#text-navbar-logo{
  color:white;
  font-weight: 500;
  font-family: PT Sans Caption;
}
#btn_login_logout{
  margin-top: -8px;
}
.awesomplete ul{
  width: 33rem;
}
