
h1 {
    text-align: center;
    margin-bottom: 50px;
}
#table{
    text-align: center;
    font-size: medium;
}
#red{
    color:red;
}
#green{
    color:green;
}
th{
    text-align: center;
}
#notification{
    text-align: center;
}
#lb_notification{
    margin-top: 100px;
    font-size: large;
}
.paging-button{
    text-align: center;
}
#hidden_label{
    display: none;
}
.time{
    min-width: 100px;
}
#td_book_name{
    max-width : 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.div_span{
    margin-top: -10px;
}




.div_item{
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    min-height: 220px;
}
.div_item:hover{
    background-color: #e2e2e2;
}
.image_list{
    text-align: center;
}
#div_item_image{
    height: 110px;
    width: 110px;
}
.item_content{
    text-align: center;
}
.lb_bookname{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}