label{
    font-size: medium;
}


span{
    font-size: medium;
}

#result{
    font-size: medium;
    color : green;
}

.content_detail{
    font-size :20px;
    word-wrap: break-word;
    padding: 20px 0 0px 25px;
}
#red{
    color : red;
}
#green{
    color : green;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.back-btn{
    margin: 20px 0 0 10px;
    width: 5%;
}