label{
    font-size: medium;
}

.content{
    padding-top: 5px;
    height: 1000px;

}
span{
    font-size: medium;
}
form{
    padding-top: 30px;
}
.btn-success{
    margin: 25px 0px 0px 0px;
}
#result{
    font-size: medium;
    color : green;
}

.content_detail{
    font-size :20px;
    word-wrap: break-word;
    padding: 20px 0 0px 25px;
}
#red{
    color : red;
}
#green{
    color : green;
}