
.content_detail{
    font-size :20px;
    word-wrap: break-word;
    padding: 20px 0 0px 25px;
}

label{
    font-size: medium;
}
#content span{
    font-size: medium;
}
h2{
    text-align: center;
    margin-bottom: 50px;
}
.back-btn{
    margin: 20px 0 0 10px;
    width: 5%;
}