<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
  </head>
  <body>
    <div class="container div-form col-md-8 col-md-offset-2">

      <div class="row">
        <div class="main-nav nav col-md-12">
          <ul class="nav nav-pills">
            <li role="presentation" class="nav-home"><a href="#"><span class="home-button">Home</span></a></li>
            <li>
              <form class="navbar-form navbar-left">
                <div class="search-bar form-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <button type="submit" class="submit-button btn btn-default"><span>Search</span></button>
                </div>
              </form>
            </li>
            <li class="nav-right" role="presentation"><a href="./login/login_page">Login</a></li>
            <!-- Singout button
            <li class="nav-right" role="presentation"><a href="#">Signout</a></li> -->
          </ul>
        </div>
        <div class="col-xs-6 col-md-4 ">
          <div class="div-nav-stack ">
            <ul class="nav nav-stacked">
              <li role="presentation" class="active"><a href="#">Home</a></li>
              <li role="presentation"><a href="#">Suggest Book</a></li>
              <li role="presentation"><a href="#">Suggested List</a></li>
            </ul>
          </div>
        </div>
        <div class="div-content col-xs-12 col-md-8">
          <div class="content">
            <span>Home</span>
          </div>

        </div>

      </div>
      <div class="row model-footer">
        <span>My website</span>
      </div>
    </div>

  </body>
</html>