<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
  </head>
  <body>
    <div class="container div-form col-md-8 col-md-offset-2">

      <div class="row">
        <div class="nav col-md-12">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">List book</a></li>
            <li role="presentation"><a href="#">Suggest book</a></li>
            <li role="presentation"><a href="#">Login</a></li>
            <form class="navbar-form navbar-left">
              <div class="nav-left form-group">
                <input type="text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
          </ul>

        </div>
        <div class="col-xs-6 col-md-4" style="background-color: red;">
          leftnav
        </div>
        <div class="col-xs-12 col-md-8" style="background-color: red;">
          content
        </div>
        <div class="model-footer">
          footer
        </div>
      </div>
    </div>
  </body>
</html>