  <script>
    $(document).ready(function(){
      $("body").click(function(e) {
        if(e.target.id !== 'menu'){
          $("#menu").hide();
        }
      });
    });
  </script>

fdasfdadfa
<div id="menu_button" onclick="$('#menu').show();">Menu....</div>
<div id="menu" > dsadas<!-- Menu options here --> </div>

<p>Other stuff</p>
