
label{
  font-size: medium;
}

.content .span{
  padding-left: 20px;
}
#tf_password{
  margin-bottom: 20px;
}

.error_label{
  color: red;
  display: none;
  font-size: 12px;
}
#result{
  color:red;
  font-size: medium;
}
.div-login{
  padding-top: 20px;
  padding-bottom: 20px;
}