
label{
  font-size: medium;
}

.error_label{
  color: red;
  display: none;
  font-size: 12px;
}
#result{
  color:red;
  font-size: medium;
  margin-bottom: 10px;
}
.div-login{
  padding-top: 50px;
}