<%= javascript_include_tag 'suggest_list'%>

<div class='content_detail' >
    <div class="row">
        <label class='col-xs-2'>Suggester:</label>
        <span class='col-xs-6 '><%= @suggester %></span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Bookname:</label>
        <span class='col-xs-6 '><%= @book_name %></span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Link</label>
        <span class='col-xs-6 '><a target="_blank" href='<%= @book_link %>'><%= @book_link %></a></span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Description</label>
        <span class='col-xs-6 '><%= @book_description %></span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Price</label>
        <span class='col-xs-6 '><%= @book_price %> $</span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Quantity</label>
        <span class='col-xs-6 '><%= @book_quantity %></span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Status</label>
        <span class='col-xs-6' id="<%if @book_status == 'Approved'%>green<%elsif @book_status == 'Denied'%>red<%else%><% end %>"><%= @book_status %></span>
    </div>
    <div class="row">
        <label class='col-xs-2'>Date approve</label>
        <span class='col-xs-6 '><%= @date_approve %></span>
    </div>
</div>